body {
  background-color: black;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.blue {
  background-color: #308dc0;
  width: 350px;
  margin: 20px 20px 40px;
}

.yellow {
  background-color: #ffa500;
}

.text {
  background-color: #ddd;
  padding: 10px;
}

.box {
  margin: 10px;
}

.border {
  border: 1px solid #e75551;
}
